div{
    width: 150px;
    height: 150px;
    background-color: red;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.second {
    float: left;
    position: relative;
}

.third{
    position: absolute;
    top: 170px;
}